
.table{
  vertical-align: baseline;
}
td{
  vertical-align: middle;
}
.Err{
  color: red;
}
/*end css*/
.cuongdepzai{
  background-color: #000000;
}
.phucdepzai{
  color: #000000;
}
.cuongdepzai1{
  background-color: aliceblue;
}